.box{
	background: -webkit-linear-gradient(to top, #2D3436, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2D3436, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 10px;
	text-align: center;
	min-width: 200px;
	max-width: 50%;
	height: 220px;
}
.nm{
	color: white;
}
